.template-article{
    width: 68%;
    height: 350px;
    background-color: #D4D4D4;
    margin-bottom: 100px;
    margin:auto;
    border-radius: 10px 10px;
}
.image-presentation{
    width: 300px;
    max-height: 190px;
    margin-left: 30px;
    margin-top: 20px;
}
h3{
    text-align: center;
}
h1{
    text-align:center;
}
body{
    margin: 0px;
    padding: 0px;
}
#zone-contenu{
    display:flex;
    margin-top: 25px;
}
.titre{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    position: relative;
    top:25px;
}
.contenu{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    height: 140px;
    overflow: hidden;
    font-size: 1.3rem;
}


.button {
    float: right;
    background-color: #85ABE8;
    border-radius: 5px 10px;
   
    margin-right: 100px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    }

.button:hover{
    background-color: #699EF5;
    transition-duration: 0.5s;
}

.button a{
        text-decoration: none;
        color:white;
    }